<div class="container">
    <form #moviesForm="ngForm" (ngSubmit)=addMovie(moviesForm)>
        <div class="mb-3 row">
            <label for="titulo" class="col-sm-2 col-form-label">Titulo</label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    class="form-control" 
                    id="titulo" 
                    name="titulo" 
                    placeholder="Terminator"
                    [(ngModel)]=moviesService.selectedMovie.titulo>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="calificacion" class="col-sm-2 col-form-label">Calificacion</label>
            <div class="col-sm-10">
                <input 
                type="number" 
                class="form-control" 
                id="calificacion" 
                placeholder="7"
                name="calificacion"
                [(ngModel)]=moviesService.selectedMovie.calificacion>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="pais" class="col-sm-2 col-form-label">Pais</label>
            <div class="col-sm-10">
                <input 
                type="text" 
                class="form-control" 
                id="pais" 
                placeholder="USA"
                name="pais"
                [(ngModel)]=moviesService.selectedMovie.pais>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Agregar</button>
    </form>
</div>